body {
  font-family: sans-serif;
}

aside {
  float: left;
  width: 13%;
  height: 100%;
  background-color: lightgrey;
  padding: 0 10px 0 10px;
  margin-right: 5px;
}

label {
  font-weight: bold;
}

main {
  float: left;
  width: 84%;
  border: 1px solid grey;
}

section {
  border: 1px solid grey;
  margin: 5px 0 5px 0;
}


img {
  height: 200px;
}

.configType {
  border-top: 1px solid grey;
  margin-bottom: 5px;
  padding-top: 5px;
}
